
.portfolio-container {
    display: grid;
    margin: 100px 15%;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.portfolio-container img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .portfolio-container {
        display: grid;
        margin: 100px 10%;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media screen and (max-width: 468px) {
    .portfolio-container {
        display: block;
    }
}
