* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Spectral', serif; */
}

:root {
    --white: #fff;
    --color-title: #255F71;
    --color-text: #565656;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.home,
.store,
.portfolio,
.about,
.cart {
    margin-top: 80px;
}